 body {
     font-family: 'Times New Roman';
 }
 #taskInput {
     padding: 12px;
     font-size: 18px;
 }

 #addButton {
     padding: 12px;
     font-size: 18px;
     margin-left: 10px;
 }

 #taskList {
     margin-top: 24px;
     list-style-type: none;
     padding: 2;
 }

 #taskList li {
     background-color: #f9f9f9;
     margin-bottom: 10px;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .task-text {
     flex-grow: 1;
     margin-right: 10px;
 }

 .task-actions button {
     margin-left: 5px;
 }